body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-right: auto;
	margin-left: auto;
	width: 940px;
}

/*h1 {
	background-image: url(../img/body-background.png);
	padding: 10px;
}*/

h2 {
	border-bottom: 2px solid #333333;
	margin-top: 30px;
}

p{
	padding: 0 45px;
	text-indent: 15px;
	text-align: justify;
}

figure {
	background-color: #f2eded;
	border: 1px solid #ccc;
	text-align: center;
	padding: 15px;
	margin: 30px;
}

figcaption {
	font-style: italic;
	margin-top: 10px;
}

#centro-distribuicao{
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

/*footer {
	color: #777;
	margin: 30px 0;
	padding: 30px 0;
}

footer img {
	margin-right: 30px;
	vertical-align: middle;
	width: 94px;
}*/

#familia-pelho {
	float: right;
	margin: 0 0 10px 10px;
}


/*Cabeçalho*/

.sacola {
	background-image: url(../img/sacola.png);
	background-repeat: no-repeat;
	background-position: top right;
	font-size: 14px;
	text-align: right;
	width: 140px;
	padding-right: 35px;
	padding-top: 8px;
	position: absolute;
	top: 0;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #003366;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 8px; 
}

.container {
	margin: 0 auto;
	width: 940px;
}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

/* Rodapé */
footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 20px 0;
}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
}

.social li {
	float: left;
	margin-left: 25px;
}

.social a {
	/* tamanho da imagem*/
	height: 32px;
	width: 32px;

	/* image replacement*/
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/googleplus.png);
}

.busca button {
	/* adicionando imagem */
	background-image: url(../img/busca.png);
	background-repeat: no-repeat;
	border: none;

	/* tamanho da imagem */
	width: 20px;
	height: 20px;

	/* imagem replacement*/
	text-indent: -9999px;
}
/* Fim rodapé */

p::first-letter {
	font-weight: bold;
}

h1 + p {
	text-indent: 0;
}

/*p::first-line {
	font-variant: small-caps;
}*/

:not(p) + p::first-line {
	font-variant: small-caps;
}